body {
    background-color: LemonChiffon;
}
body {
    border-style: double;
    border-width: thick;
}

h1 {
    font-size: 40px;
    color: black;
}

h2 {
  border-style: double;
  border-width: thick;
}
