<!--welcome.html-->
<!DOCTYPE html>
<html>

<head>
  <form align="right" name="form1" method="post" action="log_out.php">
    <label>
    <input name="submit2" type="submit" id="submit2" value="Logout">
    </label>
  </form>
  <title>Calendar</title>
  <script type="text/python" src="main.py"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="main">
    <div id="Calendar">
      <p id="Calendar-day"></p>
      <p id="Calendar-date"></p>
      <p id="Calendar-month-year"></p>
    </div>
    <h2>
    Welcome to the Smart Calendar!
  </h2>
    <div id="input-form">
      <div class="form-element">
        Event Name:
        <input type="text" name="ConcreteEvents">
      </div>
      <div class="form-element">
        Event Time:
        <input type="time" name="EventTime">
      </div>
      <div class="form-element">
        Event Date:
        <input type="date" name="EventDate">
      </div>
      <div class="form-element">
        Event Type:
        <select name="event-type">
         <option value="ConcreteEvents">Concrete Events
         <option value="FlexibleEvents"> Flexible Events</option>
        </select>
      </div>
      <div class="form-element">
        <input type="submit" value="Go!">
      </div>
      </form>
    </div>
  </div>
</body>

</html>
