<!--welcome.html-->
<!DOCTYPE html>
<html>

<head>
    <a href="{{auth_url}}">{{greeting}}</a>

  <title>Calendar</title>
  <script type="text/python" src="main.py"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div id="main">
    <div id="Calendar">
      <p id="Calendar-day"></p>
      <p id="Calendar-date"></p>
      <p id="Calendar-month-year"></p>
    </div>
    <h2>
    Welcome to the Smart Calendar!
  </h2>
    <div id="input-form">
      <div class="form-element">
        <label>Event Name:</label>
        <input type="text" name="ConcreteEvents">
      </div>
      <div class="form-element">
        <label>Event Type:</label>
        <select name="event-type" id="event-type">
         <option value="">Select One ...</option>
         <option value="ConcreteEvents">Concrete Events
         <option value="FlexibleEvents"> Flexible Events</option>
        </select>
      </div>
      <div id="concrete-inputs">
        <div class="form-element">
          <label>Event Time:</label>
          <input type="time" name="EventTime">
        </div>
        <div class="form-element"></div>
        <label>Event Date:</label>
        <input type="date" name="EventDate">
        <div>
          <lable>Days of the week:</label>
        </div>
        <input type="checkbox" name="days" value="Sunday"> Sunday
        <input type="checkbox" name="days" value="Monday"> Monday
        <input type="checkbox" name="days" value="Tuesday"> Tuesday
        <br>
        <input type="checkbox" name="days" value="Wednesday"> Wednesday
        <input type="checkbox" name="days" vaule="Thursday"> Thursday
        <input type="checkbox" name="days" value="Friday"> Friday
        <input type="checkbox" name="days" value="Saturday"> Saturday
      </form>
        <div>
          <input type="submit" value="Submit">
        </div>
      </div>
      <div id="flexible-inputs">
        </form>
        <div class="form-element">
          <label>Weekly amount allotted for the event:</label>
          <input type="time" name="EventTime">
          <div>
            <input type="submit" value="Submit">
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
    <script type="text/javascript">
    document.getElementById("concrete-inputs").classList.add('hidden');
    document.getElementById("flexible-inputs").classList.add('hidden');
    let selectEl = document.getElementById('event-type');
    selectEl.addEventListener('change', () => {
      console.log('I did not enter the loop');
      let val = document.getElementById('event-type').value;
      console.log(val);
      if (val == "ConcreteEvents") {
        document.getElementById("concrete-inputs").classList.remove('hidden');
        document.getElementById("flexible-inputs").classList.add('hidden');
        console.log('I changed concrete');
      }
      if (val == "FlexibleEvents") {
        document.getElementById("concrete-inputs").classList.add('hidden');
        document.getElementById("flexible-inputs").classList.remove('hidden');
        console.log("I changed flexible");
      }
      if (val == "") {
        document.getElementById("concrete-inputs").classList.add('hidden');
        document.getElementById("flexible-inputs").classList.add('hidden');
        console.log("I changed flexible");
    }
  })
    </script>
</body>

</html>
